In [1]:
import pandas as pd

In [55]:
df = pd.read_csv("globalterrorismdb_0718dist.csv", encoding = "ISO-8859-1")

In [7]:
df.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [155]:
us = df[df["country"]==217]
us.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
5,197001010002,1970,1,1,NaN,0,NaN,217,United States,1,...,"The Cairo Chief of Police, William Petersen, r...","""Police Chief Quits,"" Washington Post, January...","""Cairo Police Chief Quits; Decries Local 'Mili...","Christopher Hewitt, ""Political Violence and Te...",Hewitt Project,-9,-9,0,-9,NaN
7,197001020002,1970,1,2,NaN,0,NaN,217,United States,1,...,"Damages were estimated to be between $20,000-$...",Committee on Government Operations United Stat...,"Christopher Hewitt, ""Political Violence and Te...",NaN,Hewitt Project,-9,-9,0,-9,NaN
8,197001020003,1970,1,2,NaN,0,NaN,217,United States,1,...,The New Years Gang issue a communiquÃ© to a loc...,"Tom Bates, ""Rads: The 1970 Bombing of the Army...","David Newman, Sandra Sutherland, and Jon Stewa...","The Wisconsin Cartographers' Guild, ""Wisconsin...",Hewitt Project,0,0,0,0,NaN
9,197001030001,1970,1,3,NaN,0,NaN,217,United States,1,...,"Karl Armstrong's girlfriend, Lynn Schultz, dro...",Committee on Government Operations United Stat...,"Tom Bates, ""Rads: The 1970 Bombing of the Army...","David Newman, Sandra Sutherland, and Jon Stewa...",Hewitt Project,0,0,0,0,NaN
10,197001050001,1970,1,1,NaN,0,NaN,217,United States,1,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN

In [156]:
us = us[["eventid", "iyear", "imonth", "iday", "nkill","country", "country_txt", "provstate", "city", "success", "gname", "weaptype1", "weaptype1_txt", "weapdetail"]]

In [157]:
us = us.reset_index(drop=True)

In [158]:
us.isnull().sum()

eventid            0
iyear              0
imonth             0
iday               0
nkill             73
country            0
country_txt        0
provstate          4
city               0
success            0
gname              0
weaptype1          0
weaptype1_txt      0
weapdetail       544
dtype: int64

In [159]:
us.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2836 entries, 0 to 2835
Data columns (total 14 columns):
eventid          2836 non-null int64
iyear            2836 non-null int64
imonth           2836 non-null int64
iday             2836 non-null int64
nkill            2763 non-null float64
country          2836 non-null int64
country_txt      2836 non-null object
provstate        2832 non-null object
city             2836 non-null object
success          2836 non-null int64
gname            2836 non-null object
weaptype1        2836 non-null int64
weaptype1_txt    2836 non-null object
weapdetail       2292 non-null object
dtypes: float64(1), int64(7), object(6)
memory usage: 310.3+ KB

In [61]:
us.head()

,eventid,iyear,imonth,iday,nkill,country,country_txt,provstate,city,success,gname,weaptype1,weaptype1_txt
0,197001010002,1970,1,1,0.0,217,United States,Illinois,Cairo,1,Black Nationalists,5,Firearms
1,197001020002,1970,1,2,0.0,217,United States,California,Oakland,1,Unknown,6,Explosives
2,197001020003,1970,1,2,0.0,217,United States,Wisconsin,Madison,1,New Year's Gang,8,Incendiary
3,197001030001,1970,1,3,0.0,217,United States,Wisconsin,Madison,1,New Year's Gang,8,Incendiary
4,197001050001,1970,1,1,0.0,217,United States,Wisconsin,Baraboo,0,"Weather Underground, Weathermen",6,Explosives

In [118]:
us.nkill.isnull().sum()

73

In [153]:
groupby = us[["eventid", "iyear"]].groupby(["iyear"]).count()
groupby.to_csv("terr_year.csv")

In [170]:
groupby[groupby["iyear"]==1993]

KeyError: 'iyear'

In [160]:
index_l = []
year_l = []
month_l = []
day_l = []
kill_l = []
state_l = []
city_l = []
success_l = []
terr_l = []
weap_l = []
weapdetail_l = []
for i in range(len(us)):
    index = int(i)
    year = int(us["iyear"][i])
    month = int(us["imonth"][i])
    day = int(us["iday"][i])
    if pd.isna(us["nkill"][i])==True:
        kill = "null"
    else:
        kill = int(us["nkill"][i])
    if pd.isna(us["weapdetail"][i])==True:
        weapdetail = "null"
    else:
        weapdetail = us["weapdetail"][i]
    if pd.isna(us["provstate"][i]) == True:
        state = "null"
    else: 
        state = us["provstate"][i]
    city = us["city"][i]
    success = int(us["success"][i])
    terr_group = us["gname"][i]
    weaptype = us["weaptype1_txt"][i]
    
    index_l.append(index)
    year_l.append(year)
    month_l.append(month)
    day_l.append(day)
    kill_l.append(kill)
    success_l.append(success)
    state_l.append(state)
    city_l.append(city)
    terr_l.append(terr_group)
    weap_l.append(weaptype)
    weapdetail_l.append(weapdetail)

In [164]:
index_l.append(-1)
year_l.append(1993)
month_l.append("null")
day_l.append("null")
kill_l.append("null")
success_l.append("null")
state_l.append("null")
city_l.append("null")
terr_l.append("null")
weap_l.append("null")
weapdetail_l.append("null")

In [165]:
dic = {
    "index": index_l,
    "year": year_l,
    "month": month_l,
    "day": day_l,
    "success_or_not": success_l,
    "state": state_l,
    "city": city_l,
    "kill": kill_l,
    "terr_group": terr_l,
    "weapon": weap_l,
    "weapdetail": weapdetail_l
}
dic = pd.DataFrame.from_dict(dic)

In [167]:
dic.tail()

,index,year,month,day,success_or_not,state,city,kill,terr_group,weapon,weapdetail
2832,2832,2017,12,7,1,New Mexico,Aztec,3,White extremists,Firearms,A 9-mm Glock handgun was used in the attack.
2833,2833,2017,12,11,1,New York,New York City,0,Jihadi-inspired extremists,Explosives,"A crude pipe bomb consisting of screws, Chris..."
2834,2834,2017,12,22,1,Pennsylvania,Harrisburg,0,Unknown,Firearms,Two 9-mm handguns were used in the attack.
2835,2835,2017,12,22,1,Pennsylvania,Harrisburg,1,Unknown,Firearms,Two 9-mm handguns were used in the attack.
2836,-1,1993,null,null,null,null,null,null,null,null,null

In [168]:
import json

json = dic.to_json(orient='records')
with open('terr.json', 'w') as f:
    f.write(json)